@page
@model IndexModel
@{
    ViewData["Title"] = "Zara";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <img src="https://media.capital.ro/wp-content/uploads/2019/05/Zara.jpeg" />
</div>
